<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{{ tier }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="{{ image_url }}" />
        <title>{{ tier }}</title>
    </head>
    <body>
        Share this page on social media to see what you won.
    </body>
</html>